<div class="clarin-top-header">
  <div class="d-flex">
    <div class="ds-language-selection pl-1 justify-content-between">
      <button type="button" class="language-icon p-0 border-0 bg-transparent align-baseline"
              lang="en" aria-label="English" (click)="setLanguage('en')">
        <img src="./assets/images/en.png" alt="{{'language.english' | translate}}" title="{{'language.english' | translate}}">
      </button>
      <button type="button" class="language-icon p-0 ml-1 border-0 bg-transparent align-baseline"
              lang="lv" aria-label="Latviešu" title="Latviešu" (click)="setLanguage('lv')">
        <img src="./assets/images/lv.svg" width="18" height="12" alt="">
      </button>
    </div>
    <div class="ml-auto pr-3" *ngIf="{ user: authenticatedUser$ | async } as state">
      <div *ngIf="state.user == null" class="badge clarin-login-badge px-2 py-1">
        <span>
          <a style="color: #FFF;" routerLink="/login" >
            <i class="fas fa-sign-in-alt pr-1 fa-lg" aria-hidden="true"></i>{{'login.title' | translate}}
          </a>
        </span>
      </div>
      <div *ngIf="state.user != null" class="badge clarin-logout-badge px-2 py-1">
        <span>
          <a routerLink="/profile" style="color: #FFF;">
            <i class="fa fa-user pr-1 fa-lg" aria-hidden="true"></i>{{state.user.name}}
          </a>
        </span>
        <span class="text-white px-1">|</span>
        <a routerLink="/logout" style="color: #FFF;">
          <i class="fas fa-sign-out-alt pr-1 fa-lg" aria-hidden="true"></i>{{'logout.title' | translate}}
        </a>
      </div>
    </div>
  </div>
</div>
